<h1>@ViewBag.Details.DishName</h1>
<h3>@ViewBag.Details.ChefName</h3>
<p>Description: @ViewBag.Details.Desc</p>
<p>Calories: @ViewBag.Details.NumCalories</p>
<p>Tastiness: @ViewBag.Details.Tastiness</p>
<p>Updated at: @ViewBag.Details.UpdatedAt</p>
<a class="btn btn-danger" href="/delete/@ViewBag.Details.DishId">Delete</a>
<a class="btn btn-secondary" href="/edit/@ViewBag.Details.DishId">Edit</a>
