@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <a href="/new">Add a dish</a>
    <p>Check out some recent dishes!</p>
    <table class="table table-striped">
        <thead>
            <th>Chef Name</th>
            <th>Dish Name</th>
            <th>Calories</th>
            <th>Tastiness</th>
            <th>Description</th>
            <th>ID</th>
        </thead>
        <tbody>

            @foreach (var i in ViewBag.Dishes)
            {
            
                <tr>
                    <td>@i.ChefName</td>
                    <td><a href=@i.DishId>@i.DishName</a></td>
                    <td>@i.NumCalories</td>
                    <td>@i.Tastiness</td>
                    <td>@i.Desc</td>
                    <td>@i.DishId</td>
                </tr>
            }

        </tbody>
    </table>


</div>
